{% extends "base.html" %}

{% block title %}About Us{% endblock title %}
{% block body %}
{% load static %}
<div class="card bg-dark text-white">
  <img src="{% static '/images/favicon.png' %}" class="card-img border-bottom " alt="..." style="max-height: 600px;">
  <div class="card-img-overlay">

  </div>
</div>

<div>
  <h1 class="text-center text-light fw-bold m-5">ABOUT US</h1>
</div>
<div>
  <h3 class=" text-light m-5  p-5 fw-normal fs-5 border-bottom ">Welcome to ReviewGuard, your trusted partner in ensuring the authenticity and reliability of online reviews. In today's digital marketplace, genuine customer feedback is paramount to making informed purchasing decisions. Unfortunately, the prevalence of fake reviews can significantly distort perceptions and harm both consumers and businesses. That's where ReviewGuard steps in!
  </h3>
</div>

<div>
  <h1 class="text-center text-light fw-bold m-5">Our Mission</h1>
</div>
<div>
  <h3 class=" text-light m-5  p-5 fw-normal fs-5 border-bottom ">

    At ReviewGuard, our mission is to foster a transparent and trustworthy online review ecosystem. We are dedicated to providing businesses and consumers with tools to identify and eliminate fraudulent reviews, thereby enhancing the credibility of genuine feedback.
  </h3>
</div>

<div>
  <h1 class="text-center text-light fw-bold m-5">What We Do</h1>
</div>
<div>
  <h3 class=" text-light m-5  p-5 fw-normal fs-5 border-bottom ">
    ReviewGuard leverages advanced sentiment analysis and sophisticated algorithms to detect and filter out fake reviews. Utilizing TextBlob for sentiment analysis, we analyze the tone and content of reviews to identify inconsistencies and suspicious patterns. Additionally, our system employs IP address tracking to limit the number of reviews a single user can submit for a particular product, effectively curbing spam and manipulation.
  </h3>
</div>

<div>
  <h1 class="text-center text-light fw-bold m-5">Verified Badge System</h1>
</div>
<div>
  <h3 class=" text-light m-5  p-5 fw-normal fs-5 border-bottom ">
    To further enhance the authenticity of reviews, we have implemented a Verified Badge system. This badge is awarded to users who provide reviews after completing a verified purchase. This ensures that reviews come from genuine customers who have actually used the product, adding an extra layer of trust for potential buyers.
  </h3>
</div>

<div>
  <h1 class="text-center text-light fw-bold m-5">Why Choose ReviewGuard?</h1>
</div>
<div>
  <h3 class=" text-light m-5  p-5 fw-normal fs-5 border-bottom ">
    - Accuracy: Our sentiment analysis and IP tracking mechanisms are designed to detect and filter out fake reviews with high precision. <br>
    - Transparency: We promote honest feedback by verifying reviews through our Verified Badge system.
     <br>
    - Trust: By ensuring that only authentic reviews are displayed, we help build trust between businesses and their customers.
  </h3>
</div>
<div>
  <h2 class="text-center text-light fw-bold m-5">DEVELOPERS</h2>
  <div class="card mb-3 m-5 p-2">
    <div class="row g-0">
      {% comment %} <div class="col-md-4">
        <img src="{% static '/images/img1.jpeg' %}" class="img-fluid rounded-start" alt="...">
      </div> {% endcomment %}
      <div class="col-12">
        <div class="card-body">
          <h5 class="card-title"> MUSIAB MIR</h5>
          <p class="card-text"><small class="text-muted">Backend Developer</small></p>
          <p class="card-text"> Musiab is a skilled full-stack developer who has been instrumental in designing and implementing the core functionalities of ReviewGuard.  He leveraged his expertise in Python and Django to create robust server-side logic and RESTful APIs. His proficiency in MongoDB allowed for efficient data storage and retrieval, ensuring smooth communication between the frontend and backend components of our application.</p>
        </div>
      </div>
    </div>
  </div>

<div>
  <div class="card mb-3 m-5 p-2">
    <div class="row g-0">

      <div class="col-12">
        <div class="card-body">
          <h5 class="card-title"> HAAZIM IMTIYAZ KHAN</h5>
          <p class="card-text"><small class="text-muted">Backend Developer</small></p>
          <p class="card-text">Working closely with Musaib, Haazim Khan also focused on the server-side aspects of our project. He contributed to the Python and Django codebase, implementing complex business logic and database operations. His skills in MongoDB were instrumental in designing and optimising our data models, ensuring scalability and performance of our backend systems.</p>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <img src="{% static '/images/img1.jpeg' %}" class="img-fluid rounded-start" alt="...">
      </div> -->
    </div>
  </div>
</div>
  <div class="card mb-3 m-5 p-2">
    <div class="row g-0">
      <!-- <div class="col-md-4">
        <img src="{% static '/images/img1.jpeg' %}" class="img-fluid rounded-start" alt="...">
      </div> -->
      <div class="col-12">
        <div class="card-body">
          <h5 class="card-title"> IBRAHEEM RASHID</h5>
          <p class="card-text"><small class="text-muted">Frontend Developer</small></p>
          <p class="card-text"> Ibraheem is a talented front-end developer whose creative vision and technical skills have shaped the user experience of ReviewGuard. His work with HTML, CSS, and JavaScript has resulted in a sleek, intuitive interface that allows users to navigate our platform with ease. Ibraheem's attention to detail and dedication to user-centric design have made ReviewGuard accessible and user-friendly.</p>
        </div>
      </div>
    </div>
  </div>

<div>
  <div class="card mb-3 m-5 p-2">
    <div class="row g-0">

      <div class="col-12">
        <div class="card-body">
          <h5 class="card-title">AISHA YASEEN</h5>
          <p class="card-text"><small class="text-muted">Frontend Developer</small></p>
          <p class="card-text"> Collaborating with Ibraheem, Aisha focused on enhancing the visual appeal and functionality of our project's user interface. She utilised HTML and CSS to create responsive layouts and interactive elements. Her understanding of Django's frontend capabilities enabled them to efficiently connect the user interface with the backend logic, ensuring a smooth and intuitive user experience.</p>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <img src="{% static '/images/a.jpeg' %}" class="img-fluid rounded-start" alt="...">
      </div> -->
    </div>
  </div>
</div>
</div>





</div>
{% endblock body %}