{% extends "base.html" %}

{% block title %}About Us{% endblock title %}
{% block body %}
{% load static %}
<div class="card bg-dark text-white">
  <img src="{% static '/images/favicon.jpeg' %}" class="card-img" alt="...">
  <div class="card-img-overlay">

  </div>
</div>

<div>
  <h1 class="text-center text-light fw-bold m-5">ABOUT US</h1>
</div>
<div>
  <h3 class=" text-light m-5  p-5 fw-normal fs-5 border-bottom ">Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Eaque atque
    alias similique saepe accusamus aliquam reprehenderit sapiente accusantium architecto ducimus nesciunt praesentium
    repellendus, consectetur doloremque, iste dolore, ipsa labore velit voluptates qui est! Dolor soluta molestias, nam
    doloremque ut consequatur architecto iusto recusandae exercitationem quo sint accusamus minima rem nemo earum esse
    placeat dolores odit obcaecati, voluptate consectetur sed aliquam? Dicta iste unde, harum praesentium placeat culpa
    sint, suscipit corporis facere, nulla blanditiis perferendis? Est delectus perspiciatis laboriosam unde, minima
    sequi, soluta dignissimos similique dolores fuga tenetur expedita assumenda, necessitatibus maxime aliquid. Quisquam
    a consectetur repellendus optio eum possimus. Maxime laboriosam quasi, provident voluptate assumenda accusantium
  </h3>
</div>
<div>
  <h2 class="text-center text-light fw-bold m-5">DEVELOPERS</h2>
  <div class="card mb-3 m-5 p-2">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static '/images/img1.jpeg' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> MUSIAB MIR</h5>
          <p class="card-text"><small class="text-muted">Backend Developer</small></p>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>

<div>
  <div class="card mb-3 m-5 p-2">
    <div class="row g-0">
    
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> HAAZIM IMTIYAZ KHAN</h5>
          <p class="card-text"><small class="text-muted">Backend Developer</small></p>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="{% static '/images/img1.jpeg' %}" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>
</div>
  <div class="card mb-3 m-5 p-2">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static '/images/img1.jpeg' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> IBRAHEEM RASHID</h5>
          <p class="card-text"><small class="text-muted">Frontend Developer</small></p>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>

<div>
  <div class="card mb-3 m-5 p-2">
    <div class="row g-0">
    
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">AISHA YASEEN</h5>
          <p class="card-text"><small class="text-muted">Frontend Developer</small></p>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="{% static '/images/img1.jpeg' %}" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>
</div>
</div>





</div>
{% endblock body %}