{% extends "base.html" %}
{% block title %} Home{% endblock title %}

{% block body %}


<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center ">
    <div class="col-md-6 p-lg-5 mx-auto  ">
      <h1 class="display-3 fw-bold py-2 text-white">STOP SHOP!</h1>
      <h3 class="fw-normal  mb-3 text-white">Let's verbalize ourselves through fashion!</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">

        <a style="text-decoration: none;" class="icon-link" href="/shop">
          <button class="btn btn-dark btn-outline-light">
            Explore More
          </button>
          <svg class="bi text-light">
            <use xlink:href="#chevron-right" />
          </svg>
        </a>
      </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
</main>
{% endblock body %}