{% extends "base.html" %}
{% block title %} Orders{% endblock title %}
{% block body %}
<div class="card my-5 mx-5" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title">Order Details</h4>
      <a href="" class="text-decoration-none" > <h6 class="card-subtitle mb-2 text-primary ">Watch</h6></a>
     
      <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="card-text text-muted">Address - khanyar</p>
      <p class="card-text text-muted">State - jammu and kashmir</p>
      <p class="card-text text-muted">City - srinagar</p>
      <p class="card-text text-muted">Contact - 123456789</p>
      <p class="card-text ">Order Total - $1999</p>
     
    </div>
  </div>


{% endblock body %}