{% extends "base.html" %}
{% block title %} Orders{% endblock title %}
{% block body %}
<h3 class="card-title text-white text-center py-2">ORDER DETAILS</h3>
<div class="row">
 {% if not orders  %}
 <marquee direction="right" class="text-white fw-bold vh-100">
   NO ORDERS CURRENTLY
 </marquee>
{% endif %}
</div>


{% for order in orders %}
  <div class="col-3">
    <div class="card my-5 mx-5 cardstyle" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title text-white">{{order.product.name}}</h4>
        <a href="/shop/product/{{order.product.id}}/" class="text-decoration-none">
          <button class="btn btn-sm btn-outline-light my-2">
            Go to product
          </button>
        </a>
        <p class="card-text text-secondary">{{ order.product.description }}</p>
        <p class="card-text text-secondary">Address : {{ order.address }}</p>
        <p class="card-text text-secondary">City : {{ order.city }}</p>
        <p class="card-text text-secondary">State : {{ order.state }}</p>
        <p class="card-text  text-success fw-bold">Order Total : {{order.product.price}}</p>

      </div>
    </div>
  </div>

{% endfor %}
</div>
{% endblock body %}