{% extends "base.html" %}

{% block title %}Shop{% endblock title %}
{% block body %}


<div class="container my-5">
    <div class="card mb-3 cardstyle" style="max-width: 100 ">
        <div class="row g-0">
            <div class="col-md-4">
                <a href=""> <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="..."></a>
            </div>
            <div class="col-md-8 text-white">
                <div class="card-body">
                    <a href="/shop/product" class=" text-decoration-none ">
                        <h2 class="card-title ">{{product.name}}</h2>
                    </a>
                    <p class="card-text">{{product.description}}</p>
                    <br>
                    <h4 class="price">{{product.price}}</h4><span><span class=" text-white">MRP:</span><span
                            class="mrp text-white">{{product.mrp}}</span>
                        <br>
                        <p class="card-text"><small>Inclusive of all taxes</small></p>
                        <a href="/checkout">
                            <button class="btn btn-lg btn-outline-light">Buy Now</button>
                        </a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-6">
            <h2 class="text-white fw-bold"> Leave a Review</h2>
            <br>
            <form class="mb-3 validated-form " novalidate>
                <div>
                    <fieldset class="starability-coinFlip">
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
                <div class="mb-3">
                    <label class="form-label col-6 fs-5 text-white" for="body">Review</label>
                    <textarea name="reviewbody" id="body" class="form-control" cols="30" rows="3" required></textarea>

                    <div class="invalid-feedback">
                        Review can't be empty!
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>

            </form>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="card mb-3 my-5">
                    <div class="card-body">

                        <h4 class="card-title">
                            @hazim <span class="text-muted fs-6">(verified)</span>
                        </h4>
                        <p class="starability-result" data-rating="3">
                            Rated: 3 stars
                        </p>
                        <p class="card-text">
                            Good Product!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3 my-5">
                    <div class="card-body">

                        <h4 class="card-title">
                            @hazim <span class="text-muted fs-6">(verified)</span>
                        </h4>
                        <p class="starability-result" data-rating="3">
                            Rated: 3 stars
                        </p>
                        <p class="card-text">
                            Good Product!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3 my-5">
                    <div class="card-body">

                        <h4 class="card-title">
                            @hazim <span class="text-muted fs-6">(verified)</span>
                        </h4>
                        <p class="starability-result" data-rating="3">
                            Rated: 3 stars
                        </p>
                        <p class="card-text">
                            Good Product!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3 my-5">
                    <div class="card-body">

                        <h4 class="card-title">
                            @hazim <span class="text-muted fs-6">(verified)</span>
                        </h4>
                        <p class="starability-result" data-rating="3">
                            Rated: 3 stars
                        </p>
                        <p class="card-text">
                            Good Product!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.validated-form')

        // Loop over them and prevent submission
        //   this a way of turning something into array
        Array.from(forms)
            .forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>


{% endblock body %}