{% extends "boilerplate.html" %}
{% block title %}Dashboard{% endblock title %}
{% block body %}

<div class="container bg-dark my-5 ">
    <h2 class=" text-center fw-bold p-2 text-white">REVIEWS</h2>
            <div class="table-responsive mx-0 fw-normal bg-dark">
                <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Product</th>
                        <th scope="col">Review</th>
                        <th scope="col">IP-Address</th>
                        <th scope="col">isFake</th>
                        <th scope="col">isVerified</th>
                        <th scope="col">Subjectivity</th>
                        <th scope="col">Polarity</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%for review in reviews%}
                        <tr>
                            <td>{{review.user.username}}</td>
                            <td>{{review.product.name}}</td>
                            <td>{{review.body}}</td>
                            <td>{{review.ipAddress}}</td>
                            <td>{{review.isFake}}</td>
                            <td>{{review.isVerified}}</td>
                            <td>{{review.subjectivity}}</td>
                            <td>{{review.polarity}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                  </table>
            </div>
        </div>

{% endblock body %}